<footer class="nav">
    <div class="navBar">
        <div class="navItem">
            <a class="navLink" href="/index">
                <p class="navName">Home</p>
                <img src="images/icon_home.svg" alt="home page icon" class="navIcon">
            </a>
        </div>
        <div class="navItem">
            <a class="navLink" href="/index">
                <p class="navName">About</p>
                <img src="images/icon_about.svg" alt="about page icon" class="navIcon">
            </a>
        </div>
        <div class="navItem">
            <a class="navLink" href="/index">
                <p class="navName">Products</p>
                <img src="images/icon_prod.svg" alt="products page icon" class="navIcon">
            </a>
        </div>
        <div class="navItem">
            <a class="navLink" href="/index">
                <p class="navName">Projects</p>
                <img src="images/icon_proj.svg" alt="projects page icon" class="navIcon">
            </a>
        </div>
    </div>
</footer>