<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="css/cardEffects.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="deckContainer">
        <div class="deckTitle">
            <h1>Pick a Card</h1>
        </div>

        <div class="deck">
            <div class="hand spread">
                <div id="about" class="card">
                    <a class="cardName" href="/about">
                        <h2>ABOUT</h2>
                        <img src="images/about.svg" alt="about card face">
                    </a>
                </div>
                <div id="projects" class="card">
                    <a class="cardName" href="/projects">
                        <h2>PROJECTS</h2>
                        <img src="images/projects.svg" alt="projects card face">
                    </a>
                </div>
                <div id="products" class="card">
                    <a class="cardName" href="/products">
                        <h2>PRODUCTS</h2>
                        <img src="images/products.svg" alt="products card face">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>